@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table {
    @apply w-full text-left border shadow mb-2 bg-white border-blue-100;
}

table thead tr {
    @apply font-bold bg-blue-400;
}

table thead tr th {
    @apply p-1;
}

table thead tr th.actions {
    @apply text-right pr-3;
}

table tbody tr {
    @apply hover:bg-blue-100;
}

td {
    padding: 3px;
    flex: none;
}

tr {
    @apply border-b-2;
}

td.actions {
    @apply w-48 flex-grow-0 text-right pr-3;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
